.home {

	#wysiwygs-1 {
		position: relative;

		&:before {
			content: '';
			background: linear-gradient(to right, rgba(231,140,0,0) 0%,rgba(231,140,0,0.33) 21%,rgba(231,140,0,0.8) 51%,rgba(231,140,0,0.33) 80%,rgba(231,140,0,0) 100%);
			position: absolute;
			bottom: 40%; 
			transform: translateY(40%);
			height: 100%;
			width: 100%;
			left: 0;
			opacity: .3;
			filter: blur(14px);

			@include above (sm) {
				height: 20%;
			}
		}

		@include above (sm) {
			padding-top: 8rem;
		}

		@include above (md) {
			padding-top: 12rem;
		}
	}
}
