.page {

	&__row {

		@include above (sm) {
			display: flex;
			align-items: center;
		}
	}

	&__hero {
		padding-bottom: 6rem;

		@include above (sm) {
			padding-top: calc(15rem + 111px);
			padding-bottom: 15rem;
		}
	}

	&__title {
		margin-top: 3rem;
		line-height: 1;
		position: relative;
		z-index: 10;

		@include above (sm) {
			margin-top: 0;
		}
	}

	&__product {
		right: -1rem;
		background: no-repeat center center;
		background-size: cover;
		min-height: 20rem;

		@include above (sm) {
			position: absolute;
			min-height: 55rem;
		}
	}
}
