.variants {
	
	&--wrapper {
		position: relative;

		&:before {
			content: '';
			background: linear-gradient(to right, rgba(231,140,0,0) 0%,rgba(231,140,0,0.33) 21%,rgba(231,140,0,0.8) 51%,rgba(231,140,0,0.33) 80%,rgba(231,140,0,0) 100%);
			position: absolute;
			bottom: 0;
			height: 100%;
			width: 100%;
			left: 0;
			opacity: .3;
			filter: blur(14px);

			@include above (sm) {
				height: 35%;
			}
		}
	}

	&__title {
		margin-top: 0;
		color: $orange;
		margin-bottom: 2rem;
	}

	&__btn {
		margin-right: 1rem;
	}
}