.btn {
	display: inline-block;
	padding: .6rem 2.5rem;
	text-transform: uppercase;
	color: $white;
	transition: all ease .3s;

	&--black {
		background: $black;

		&:hover {
			color: $orange;
		}
	}

	&--orange {
		background: $orange;

		&:hover {
			color: $brown;
		}
	}
}