/* Color classes (modify as needed) */

$colors: "white" $white, "gray" $gray, "orange" $orange, "brown" $brown, "brown-dark" $brown-dark;

@each $color in $colors {
  $label: nth($color, 1);
  $value: nth($color, 2);

  .#{$label} {
    color: $value;
  }

  .#{$label}--bg {
    background-color: $value; 
  }
}
